<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button color="" (click)="presentAlert('Konsultancie!', 'Wystarczy że wpiszesz odpowiednią kombinację Nazwa/Hasło, a wrota wszechświata staną przed Tobą otworem!', ['Dobra!'])">
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Nazwa</ion-label>
    <ion-input [(ngModel)]="login"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Hasło</ion-label>
    <ion-input [(ngModel)]="psw" type="password"></ion-input>
  </ion-item>
    <div class="spacer" style="height:40px;" id="logowanie-spacer1"></div>
    <ion-button (click)="checkLogin('/woj')" expand="block">
      Zaloguj
    </ion-button>
</ion-content>
